*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.reason{
    padding: 40px 50px;
    display:flex;
    width: 100%;
    gap:30px;
    justify-content: space-between;
}
.reason-img{
width:35%;
height:425px;
border-radius: 25px;
background-color: rgb(19, 96, 122);
}
.reasontext{   
 width:60%;
}


.firstText{
    color:#666666;
    font-size: 17px;
}

.tagH{
font-size:30px;
font-weight: bold;
}

.tagHG{
    font-size:30px;
    font-weight: bold;
    color: #EC9A29;
 -webkit-text-stroke: 1px black;
    
}
.reasontext p{
    color:black;
    font-size: 15px; 
    font-weight: 500;
    line-height: 20px;
}
.reasontext h2{
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 20px;
}
.reasontext span{
 color: #EC9A29 ;
}
.reasontext h5{
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

.reasoncard{
    display:flex;
    justify-content: space-between;
}

.src{
    padding:20px 0;
   width:320px;
}
.src span{
    color:#143642;
    font-size: 15px;
    font-weight:bold;
}
.taillink{
    margin-top:10px ;

}
.taillink button{
    top:10px;
    background: #B3C9EF;
  border-radius:10px;
  width:120px;
  height: 39px;
  margin-right: 20px;
}
.taillink a{
   text-decoration: none;
   font-size:13px ;
   color: black;
   font-weight: bold;
}

@media(max-width:468px) {
    .reason{
        padding: 20px 15px;
        gap: 20px;
        flex-direction: column  ;
    }

    .reason-img{
        width:100%;
        }
        .reasontext{   
         width:100%;
        }
        .reasontext h2{
            font-size: 30px;
            font-weight: 700;
            line-height: 35px;
            margin-bottom: 20px;
          }
}


